body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
}

.container {
    width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
}

.header {
    display: flex;
    align-items: center;
    gap: 75px; /* space between logo and text */
    padding-bottom: 10px;
}

.header .logo {
    width: 200px;  /* adjust size as needed */
    height: auto;
}

.header .header-text {
    text-align: center;
}


.title-bar {
    background: #2f5da9;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.section {
    margin-top: 20px;
}

.section h3 {
    background: #eef3fb;
    padding: 8px;
    border-left: 5px solid #2f5da9;
}

.row {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.row label {
    width: 180px;
}

input[type=text] {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th {
    background: #e6edf8;
    padding: 8px;
}

table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
}

.submit-area {
    text-align: center;
    margin-top: 20px;
}

button {
    background: #2f5da9;
    color: white;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.center-section{
    text-align:center;
    padding:40px;
}

.radio-box{
    display:block;
    background:#f4f4f4;
    padding:15px;
    margin:15px auto;
    width:300px;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
    border:1px solid #ddd;
}

.radio-box:hover{
    background:#ffe6e6;
    border-color:#8b0000;
}

.radio-box input{
    margin-right:10px;
    transform:scale(1.2);
}

.submit-btn{
    background:#8b0000;
    color:white;
    border:none;
    padding:12px 40px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.submit-btn:hover{
    background:#b30000;
}
